.chat-container {
    display: flex;
    flex-direction: column;
    max-width: 500px; /* Max width to align with the Drawer width */
    margin: auto;
    height: 100vh; /* Take full viewport height */
    padding: 10px;
    box-sizing: border-box;
  }
  
  .chat-container .ant-list {
    overflow-y: auto;
    flex-grow: 1;
    margin-bottom: 16px; /* Space between list and input group */
  }
  
  .chat-container .ant-list-item {
    align-items: center;
  }
  
  .chat-input-group {
    display: flex;
  }
  
  .chat-input-group .ant-input {
    flex-grow: 1;
    margin-right: 8px; /* Space between input and send button */
  }
  
  .chat-container button {
    width: auto; /* Adjust button width */
    /* Match input height */
  }
  
  /* Style adjustments for smaller screens */
  @media (max-width: 600px) {
    .chat-container {
      width: 100%; /* Full width on small screens */
      height: calc(100vh - 60px); /* Adjust height for mobile */
      padding: 5px;
    }
  
    .chat-input-group .ant-input {
      margin-right: 4px; /* Less space between input and send button on small screens */
    }
  
    .chat-container button {
      padding: 0 12px; /* Smaller padding for buttons */
    }
  }
  /* ChatComponent.css */

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
  }
  
  .messages {
    flex-grow: 1;
    overflow-y: auto;
   
  }
  
  .message {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
  }
  
  .sent {
    flex-direction: row-reverse;
  }
  
 
  
  .message-avatar {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  .message-content {
    max-width: 80%;
    margin: 0 0px;
    padding: 8px;
    border-radius: 16px;
    color: white;
    font-size: 14px;
  }
  
  .sent .message-content {
    background-color: #007bff;
    color: white;
    border-bottom-right-radius: 0;
   
  
  }
  .received .message-content {
    background-color: #e4e6eb;
    color: black;
    border-bottom-left-radius: 0;
  }
  
  
  .message-date-center{
    text-align: center;
    font-size: 12px;
    margin-bottom : 10px;
    padding: 5px;
    color: #666;
  }
  /*
 .message-text {
   
  } */
  .sent .message-timestamp{
    font-size: 10px;
    color: #ddd;
    text-align: right;
  }
  .received .message-timestamp{
    font-size: 10px;
    color: #666;
    text-align: left;
  }
  .chat-input-group {
    display: flex;
    margin-top: 10px;
  }
  
  .chat-input {
    flex-grow: 1;
    
  }
  /*
  .send-button {
 
  }*/
  
  