.field-card {
    /* Apply general styling to the card */
    border-radius: 8px;
 
    border: 1px solid #f0f2f5;
    border-radius: 8px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    background-color:#f0f2f5;
}

.field-card .ant-card-head-title {
    /* Center the title */
    text-align: left;
}

.field-card .ant-card-body {
    /* Align the content to the left */
    text-align: left;
}
.field-card h3 {
    margin-top: 0;
    color: #333;
    font-size: 16px;
    
  }
  .field-info{
    margin-top: 1px;
    padding-top: 10px;
    border-top: 1px solid #666;
  }
  .field-card h2{
    margin-top: 0;
    color: #666;
    font-size: 16px;
  }

  .field-title {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; /* This ensures they are aligned in the middle vertically */
   
  }
  
.field-card p {
    margin: 4px 0;
    color: #666;
    text-align: left;
    line-height: 1.6;
    
}

.field-card .anticon {
    margin-right: 8px;
}
