.add-field-btn {
  background-color: #007bff; /* A nice shade of blue */
  color: white; /* White text color */
  border: none; /* Remove default border */
  font-size: 16px; /* Increase font size for better readability */
  border-radius: 5px; /* Slightly rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  outline: none; /* Remove outline */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  margin-bottom: 0px; /* Add margin to separate from the grid below */
}

.add-field-btn:hover, .add-farm-btn:focus {
  background-color: #0056b3; /* Darker blue on hover/focus for feedback */
}

.add-field-form {
  margin-top: 40px;
}
.fields-container {
    display: flex;
    flex-direction: column;
    padding: 20px; /* Adds padding around the grid */
  }
  .h2{
    color: #333;
  }
  .fields-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust minmax for your preferred card size */
    gap: 20px; /* Adjust the space between cards */
  }
  
  .field-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    background-color: #fff;
    overflow: hidden; /* Ensures the content does not overflow the rounded corners */
  }
  
  .field-card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1); /* Adds a shadow effect on hover */
    cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
  }
  .fields-header {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px; /* Adjust the gap between items as needed */
  }
  


/* Other styles remain the same */
